<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" style="font-size: 1.2em; margin-top: 20px;" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="Bernardo Lanza">
        <meta name="google-site-verification" content="G13RNX7IQOrj-iPqMdhjhCm3nfO_GA0RowOQrlX_Cyw" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-41W6WG8S5M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-41W6WG8S5M');
    </script>


</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <blockquote>
            <p>"Free software is a matter of liberty, not price. To understand the concept, you should think of 'free' as in 'free speech,' not as in 'free beer.'"</p>
        </blockquote>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} Bernardo Lanza </p>
        <p>{{ page.description }}</p>
    </footer>
</body>
</html>
